{
    "env": {
        "test": {
            "presets": [
                "stage-3"
            ],
            "plugins": [
                "transform-es2015-modules-umd",
                "istanbul"
            ]
        }
    }
}
